﻿<!DOCTYPE html>
<html>
<head lang="en-us">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ingham County Equalization Tax Mapping Viewer</title>
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/public/meta/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/public/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/public/meta/favicon-16x16.png">
    <link rel="manifest" href="~/Content/public/meta/site.webmanifest.json">
    <link rel="mask-icon" href="~/Content/public/meta/safari-pinned-tab.svg" color="#267b7e">
    <link rel="shortcut icon" href="~/Content/public/meta/favicon.ico">
    <meta name="msapplication-TileColor" content="#e28c36">
    <meta name="msapplication-TileImage" content="~/Content/public/meta/mstile-144x144.png">
    <meta name="msapplication-config" content="~/Content/public/meta/browserconfig.xml">
    <meta name="theme-color" content="#e28c36">
    <meta name="Description" content="This viewer was created for Ingham County Equalization by MSU Remote Sensing & GIS Research and Outreach Services (RS&GIS). It is designed to provide access to parcel mapping and tax/assessment information for the public and county employees.">
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
</head>
<body>
    @RenderBody()
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)
    @{ string styles = ".ol-control button,.ol-scale-line{background:#E28C36}.ol-rotate{top:9em;left:.5em;right:unset}.ol-full-screen{left:.5em;top:7em;right:unset}.ol-control button{cursor:pointer}.ol-control button:hover{background:#267b7e;cursor:pointer}@media(max-width:768px){.ol-rotate{top:1em;right:2em;left:unset!important}.ol-full-screen{right:.5em;top:.5em;left:unset!important;display:none}.ol-control button{background:#E28C36;cursor:pointer;font-size:1.5em}.ol-scale-line-inner{font-size:1em}.ol-touch .ol-zoom-extent{top:6em}}";}
    <style>@styles</style>
</body>
</html>
