.rsgis-dynamic-header {
    .__header {
        color: black;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;

        &--centered {
            text-align: center;
        }

        &--left {
            text-align: left;
        }

        &--right {
            text-align: right;
        }




        &--extra-small {
            .__text {
                font-size: 0.75rem;
            }
        }

        &--small {
            .__text {
                font-size: 1.25rem;
            }
        }

        &--normal {
            .__text {
                font-size: 2rem;
            }
        }

        &--large {
            .__text {
                font-size: 2.5rem;
            }
        }

        &--extra-large {
            .__text {
                font-size: 3.5rem;
            }
        }


        &--black {
            color: black;
        }

        &--green {
            color: @msu-green;
        }

        &--bright-green {
            color: @msu-secondary-green-1;
        }

        &--neon-green {
            color: @msu-secondary-green-2;
        }

        &--grass-green {
            color: @msu-secondary-green-3;
        }

        &--light-gray {
            color: @msu-secondary-gray-1;
        }

        &--dark-gray {
            color: @msu-secondary-gray-2;
        }

        &--tan {
            color: @msu-secondary-tan;
        }

        &--orange {
            color: @msu-secondary-orange-1;
        }

        &--orange-light {
            color: @msu-secondary-sand;
        }

        &--orange-dark {
            color: @msu-secondary-orange-2;
        }

        &--teal {
            color: @msu-secondary-teal;
        }

        &--gray-blue {
            color: @msu-secondary-blue;
        }

        &--magenta {
            color: @msu-secondary-purple;
        }

        &--all-caps {
            .__text {
                text-transform: uppercase;
            }
        }

        &--sub {
            font-weight: 700;
            letter-spacing: 1px;
            line-height: 1.25;
        }

        &--main {
            font-family: "Times New Roman",Times,serif;
            margin-bottom: 0;
        }

        &--normal-type {
            font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
            letter-spacing: 0;
            margin-bottom: 0.6875rem;
        }
    }
}