.rsgis-featured {
    .__header {
        display: flex;

        div {
            font-size: @font-header-small-medium;
            font-weight: 700;
            font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .__icon {
            width: 30px;
            height: auto;
            background-size: 30px;
            background-repeat: no-repeat;
            background-position: center center;

            &--news {
                background-image: url('https://cdn.cabs.msu.edu/framework/images/ico-news-green.svg');
            }

            &--event {
                background-image: url("https://cdn.cabs.msu.edu/framework/images/ico-events-green.svg");
            }
        }

        .__green {
            color: @msu-green;
        }

        .__gray {
            color: @msu-secondary-gray-1;
        }
    }

    .__feature {
        margin: 15px auto;

        @media(max-width: @screen-sm-max) {
            border-bottom: 1px solid #eee;
        }

        .__event {
            height: 173px;

            @media(max-width: @screen-sm-max) {
                height: 147px;
            }

            .__link a {
                font-size: 1.5rem;
                font-family: "Times New Roman", Times, serif;
                font-weight: normal;
                text-decoration: none;

                @media(max-width: @screen-sm-max) {
                    font-size: 1.2rem;
                }
            }

            &--news {
                .__image {
                    width: 165px; // fallback
                    height: 173px; // fallback
                    width: 10rem;
                    height: 10rem;
                    object-fit: cover;
                    object-position: left;
                    @media(max-width: @screen-sm-max) {
                        width: 140px;
                        height: 147px;
                    }
                }

                .__date {
                    margin-bottom: 5px;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: #757575;
                    font-size: 1rem;
                    letter-spacing: 1px;
                }
            }

            &--event {
                .__date {
                    width: 165px; // fallback
                    height: 173px; // fallback
                    width: 10rem;
                    height: 10rem;
                    border: 5px solid @msu-secondary-gray-1;
                    display: block;
                    text-align: center;

                    .__item {
                        text-transform: uppercase;
                        font-weight: 700;
                        color: #757575;
                        font-size: 1.3rem;
                        letter-spacing: 1px;
                        position: relative;

                        &:nth-child(1) {
                            top: 8px;
                        }

                        &:nth-child(2) {
                            font-size: 3rem;
                            color: @msu-green;
                        }
                    }

                    @media(max-width: @screen-sm-max) {
                        width: 140px;
                        height: 147px;

                        .__item {
                            &:nth-child(2) {
                                bottom: 8px;
                            }

                            &:nth-child(3) {
                                bottom: 18px;
                            }
                        }
                    }
                }
            }
        }
        // override bootstrap
        .carousel .carousel-indicators {
            position: relative;
            justify-content: left;
            margin-top: 10px;
            margin-left: 0;
            margin-right: 0;
            left: 0;
            bottom: 0;

            li {
                width: 15px;
                height: 15px;
                background-color: @msu-secondary-gray-1;
                border-radius: 15px;

                &.active {
                    background-color: @msu-secondary-gray-2;
                }
            }
        }
    }
}