.footer {
    display: flex;
    justify-content: center;
    img {
        width: 100%;
        height: auto;
    }
}

footer {
    margin-top: 25px;
    .mobile-hide {
        display: block;
        text-align: right;
    }
    .mobile-show {
        display: none;
    }
    .border-top {
        border-top: 1px dotted black;
        max-width: 680px;
        width: 110%;
        @media(max-width: @screen-sm-max) {
            width: 100%;
        }
    }
    ul {
        padding-top: 5px;
        margin-top: 5px;
        list-style-type: none;
        margin-left: 0;
        margin-bottom: 0;
        margin: 0;
        display: flex;
        padding: 4px;
        .bold {
            font-weight: bold;
        }
        .highlight {
            color: @msu-secondary-green-3;
            font-weight: bold;
        }
        li {
            float: left;
            font-size: 0.9rem;
            border-right: 1px solid @msu-green;
            &:last-child {
                border-right: none;
            }
            &:first-child a {
                padding-left: 0;
            }
            a {
                text-decoration: none;
                padding-left: 15px;
                padding-right: 15px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &.tiny {
            li {
                font-size: 11px;
                padding-right: 5px;
                padding-left: 5px;
                border-right: 1px solid #999;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    border-right: none;
                }
                a {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
        &.no-margin {
            padding: 0;
            margin: 0;
        }
    }
    @media(max-width: @screen-sm-max) {
        .mobile-show {
            display: block;
            margin-top: 10px;
        }
        .mobile-hide {
            display: none;
        }
        ul.modify-desktop {
            display: block;
            li {
                float: unset;
                padding: 0;
                margin: 0;
                text-align: center;
                border-right: none;
                font-size: 1.6rem;
                a {
                    padding: 0;
                }
            }
        }
        ul.tiny {
            display: block;
            li {
                font-size: 1rem;
            }
        }
    }
}