﻿.hamburger {
    display: none;

    @media(max-width: @screen-sm-max) {
        display: block;
    }

    .__hamburger {
        background: none;
        border: none;
        padding: 0;
        margin: 0 auto;
        width: 40px;
        height: 50px;
        display: block;

        .__line {
            background-color: @msu-green;
            width: 80%;
            height: 3px;
            margin: 10px auto;
            transition: all linear 0.1s;
        }

        &--transparent {
            .__line {
                background-color: @transparent-white-50;
            }
        }

        &--close {
            .__line:nth-child(2) {
                -ms-transform: rotate(45deg); /* IE 9 */
                -webkit-transform: rotate(45deg); /* Safari */
                transform: rotate(45deg);
                position: relative;
                top: 7px;
            }

            .__line:nth-child(3) {
                -ms-transform: rotate(-45deg); /* IE 9 */
                -webkit-transform: rotate(-45deg); /* Safari */
                transform: rotate(-45deg);
                position: relative;
                top: -5px;
            }

            .__line:nth-child(1) {
                opacity: 0;
            }
        }

        &--finished {
            .__line:nth-child(1) {
                display: none;
            }
        }
    }
}
