.rsgis-left-bordered-list {
    .rsgis-list-left-border {
        list-style-type: none;
        border-left: 1px solid @msu-secondary-gray-1;
        padding: 10px;
        font-size: 0.9rem;
        margin-top: 0;
        padding-top: 0;
        min-height: 130px;

        @media(max-width: @screen-sm-max) {
            min-height: inherit;
            height: auto;
        }

        a {
            text-decoration: none;
            color: @msu-secondary-gray-2;

            &:hover {
                text-decoration: underline;
            }
        }

        li {
            margin: 1rem;
        }
    }
}