.__MegaMenu {
    background-color: @mega-menu-green;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 15px;
    position: absolute;
    width:100%;
    color: white;
    &.__mm-small{
        position: relative;
        width: 30%;
        float: right;
    }
    p {
        color: inherit;
    }
    .container{
        max-height: 100vh;
        overflow: auto;
    }
    .__mm-list {
        color: inherit;
        list-style-type: none;
        padding: 0;
        padding-left: 15px;
        border-right: 1px solid white;
        li {
            margin: 0.5rem 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        li,
        a {
            cursor: pointer;
            color: inherit;
            font-weight: bold;
            text-decoration: none;
        }
        a {
            cursor: pointer;
            padding-top: 5px;
            padding-bottom: 5px;
            &:hover {
                border-bottom: .125rem solid @msu-secondary-green-1;
            }
            &:focus {
                border-bottom: .125rem solid @msu-secondary-green-1;
            }
        }
        .clickable {
            cursor: pointer;
            color: inherit;
            font-weight: bold;
            text-decoration: none;
        }
        .clickable {
            cursor: pointer;
            padding-top: 5px;
            padding-bottom: 5px;
            &:hover {
                border-bottom: .125rem solid @msu-secondary-green-1;
            }
            &:focus {
                border-bottom: .125rem solid @msu-secondary-green-1;
            }
        }
    }
    .__mm-top-spacing{
        margin-top: 45px;
    }

    .__mm-header{
        color: white;
        margin: 10px 0;
        a{
            cursor: pointer;
            color: white;
            text-decoration: none;
            &:hover {
                border-bottom: .125rem solid @msu-secondary-green-1;
            }
            &:focus {
                border-bottom: .125rem solid @msu-secondary-green-1;
            }   
        }
        .clickable{
            cursor: pointer;
            color: white;
            text-decoration: none;
            &:hover {
                border-bottom: .125rem solid @msu-secondary-green-1;
            }
            &:focus {
                border-bottom: .125rem solid @msu-secondary-green-1;
            }   
        }
    }
    .__mm-image{
        width: 100%;
        height: 100px;
        object-fit: cover;
    }

    .__mm-img-link{
        width: 40px;
        height:40px;
        object-fit: cover;
        border: 2px solid white;
        border-radius: 25px;
        margin-right:1rem;
    }
    // @media(max-width: @sm){
    //     display: none;
    // }
    @media(max-width: @screen-sm-max) {
        opacity: 0;
        min-height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        transition: all linear 0.25s;
        &--showMobileMenu {
            opacity: 1;
            width: 75%;
            .__mobile_nav_content {
                display: block;
                h1,
                a {
                    color: white;
                    font-size: 2rem;
                    text-decoration: none;
                    font-weight: bold;
                }
                .col {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
    &--hidden {
        width: 0;
        .__item.__item--search {
            display: none;
        }
    }
} 

.onMobileClick{
    cursor: pointer;
}