﻿.nav_test_btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.rsgis_logo {
    font-family: 'Perpetua Bold';
    letter-spacing: 2px;
    font-size: 2rem;
    transition: all 0.10s linear;
    span {
        font-family: "Perpetua Italic";
        font-size: 4rem;
        position: relative;
        top: 5px;
    }
    &:hover {
        text-shadow: 2px 2px 5px #333;
    }
}

.NavBarContainer {
    .__invisable {
        visibility: hidden;
    }
    width: 100%;
    height: auto;
    position: absolute;
    top: 50px;
    z-index: 100; // margin-bottom: 50px;
    &--relative {
        position: relative;
    }
    .__main-header {
        transition: all 0.25s linear;
    }
    .__header {
        .__main-header {
            color: white;
            font-size: 1.5rem;
            margin: 15px 0;
            a {
                color: white;
                text-decoration: none;
                &:hover {
                    color: #e6e3e1;
                    text-decoration: none;
                }
            }
            &--hidden {
                opacity: 0;
            }
        }
        &--standard {
            .__main-header {
                color: @msu-green;
                a {
                    color: @msu-green;
                    &:hover {
                        color: @msu-secondary-green-1;
                    }
                }
                &--hidden {
                    opacity: 0;
                }
            }
        }
    }
    .__bar {
        min-height: 40px;
        background-color: @msu-green;
        padding: 8px 0;
        .__mobile_nav_content {
            display: none;
        }
        .__list {
            list-style-type: none;
            margin-left: 0;
            margin-bottom: 0;
            display: flex;
            padding-left: 0;
            .__item {
                float: left;
                position: relative;
                font-size: 0.9rem;
                border-right: 1px solid @msu-secondary-gray-1;
                &.__item-mobile {
                    font-size: 1.5rem;
                }
                &:last-child {
                    border-right: none;
                } // &.dropdown {
                //     &:hover {
                //         .subLevel {
                //             &:hover {
                //                 display: block;
                //             }
                //             margin: -4px 0 0 !important;
                //             display: block;
                //             min-width: 150px;
                //             background-color: @msu-green;
                //             font-size: 1.3rem;
                //         }
                //     }
                // }
                // &:first-child a {
                //     padding-left: 0;
                // }
                &--active {
                    font-weight: bold;
                }
                a {
                    text-decoration: none;
                    color: white;
                    padding-left: 15px;
                    padding-right: 15px;
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    &:hover,
                    &:focus {
                        &::after {
                            background-color: #00b047;
                            content: '';
                            opacity: 1;
                            transition-property: opacity, visibility;
                            transition-duration: .3s;
                            visibility: visible;
                            display: block;
                            height: .375rem;
                            position: absolute;
                            width: 85%;
                            z-index: 200;
                            bottom: -11px;
                        }
                    }
                }
            }
            &--right {
                align-items: center;
                justify-content: flex-end;
                .__item {
                    &:first-child a {
                        padding-right: 15px;
                    }
                }
            }
        }
        &--showMobileMenu {
            opacity: 1;
            width: 100%;
        }
        @media(max-width: @screen-sm-max) {
            opacity: 0;
            min-height: 100vh;
            width: 0;
            position: fixed;
            top: 0;
            right: 0;
            transition: all linear 0.25s;
            &--showMobileMenu {
                opacity: 1;
                width: 75%;
                .__mobile_nav_content {
                    display: block;
                    h1,
                    a {
                        color: white;
                        font-size: 2rem;
                        text-decoration: none;
                        font-weight: bold;
                    }
                    .col {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
            .SearchButton {
                display: none;
            }
            .__input {
                margin-top: 8px;
                float: right;
                width: 100%;
                max-width: 320px;
                input {
                    font-size: 0.9rem;
                }
            }
            .__list {
                display: block;
                margin-top: 2rem;
                padding: 0;
                border-top: 1px solid white;
                padding-top: 25px;
                flex-flow: column !important;
                .__item {
                    float: none;
                    border: none;
                    margin-top: 5px;
                    &.dropdown {
                        >.subLevel {
                            display: block;
                            background-color: @msu-green;
                            font-size: 1.3rem;
                            position: initial;
                            float: none;
                            margin: 0;
                            padding: 5px;
                            padding-left: 10px;
                            border: none;
                        }
                    }
                    a {
                        padding-left: 0;
                        padding-right: 0;
                    }
                    &--search {
                        a {
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                }
            }
        }
        &--hidden {
            width: 0;
            .__item.__item--search {
                display: none;
            }
        }
    }
    .__powermenu {
        background-color: #113d34;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 15px;
        color: white;
        p {
            color: inherit;
        }
        .__pm-list {
            color: inherit;
            list-style-type: none;
            padding: 0;
            padding-left: 15px;
            border-right: 1px solid white;
            li {
                margin: 1rem 0;
            }
            li,
            a {
                color: inherit;
                font-weight: bold;
                text-decoration: none;
            }
            a {
                padding-top: 5px;
                padding-bottom: 5px;
                &:hover {
                    border-bottom: .125rem solid #63b3a2;
                }
                &:focus {
                    border-bottom: .125rem solid #63b3a2;
                }
            }
        }
    }
}

.cust-dropdown-item-a {
    &:hover {
        color: @msu-green  !important;
    }
}

// .personalHeader{    
//     // width: 160px;
//     height: 40px;
//     a{
//         font-size:225% !important;
//     }
// }
.msu-mobile-side-bar {
    &.dashboard-list {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 450px;
    }
    h2 {
        color: white;
        background-color: #18453b !important;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    li {
        background-color: #255047;
        .side-bar-link {
            font-size: 2.2rem;
        }
        .side-bar-slide {
            i {
                background-color: #18453b;
                margin-top: 5px;
                margin-right: 5px;
                padding-left: 7px;
                padding-right: 3px;
                padding-top: 2px;
                &.iconLeft {
                    background-color: #255047 !important;
                }
            }
        }
    }
}

.cust-alert-fontsize {
    font-size: 2.1rem;
}

.search-icon {
    line-height: 1.1em !important;
}

.rightNav {
    background-color: whitesmoke; // position: absolute;
    position: relative;
    right: 0; // top: -100px;
    top: -50px;
    z-index: 2;
    padding: 20px;
    min-width: 255px;
    .__line {
        background-color: #8e8b8b;
        margin-top: -30px;
        padding-bottom: 20px;
        margin-left: -20px;
        margin-right: -20px;
    }
    .__list {
        display: block;
        margin-top: -10px;
        padding: 0;
        color: whitesmoke;
        overflow-y: auto;
        max-height: 480px;
        &.small {
            max-height: 210px;
        }
        .__item {
            float: none;
            border: none;
            margin-top: 5px;
            font-size: 0.9rem;
            &.dropdown {
                >.subLevel {
                    display: block;
                    background-color: @msu-green;
                    font-size: 1.3rem;
                    position: initial;
                    float: none;
                    margin: 0;
                    padding: 5px;
                    padding-left: 10px;
                    border: none;
                }
            }
            a {
                padding-left: 0;
                padding-right: 0;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
            &--search {
                a {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}