﻿.SearchBarContainer {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 110;
    transition: all linear 0.25s;
    left: 0;

    &--nudged {
        left: 0;
    }

    @media(max-width: @screen-sm-max) {
        width: 100%;

        &--nudged {
            left: -75%;
        }
    }





    &--gradient {
        background: linear-gradient(rgba(0, 0, 0, 0.6) 0%, transparent 60%);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */
        background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 60%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 60%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
        height: 250px;
        z-index: 90;
    }

    .__desktop {
        padding-top:0.5rem;
        @media(max-width: @screen-sm-max) {
            display: none;
        }
        .input-group{
            display:flex;
            justify-content: flex-end;
        }
        input{
            max-width:255px;
        }
    }

    .__header {
        background-color: @white;
        transition: all ease-in 0.25s;
        height: 50px;
        opacity: 1;

        &--transparent {
            background-color: @transparent-white;
        }

        &--hidden {
            opacity:0;

        }
        #MSULOGO{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @media(max-width: @screen-sm-max) {
                align-items: flex-end;
            }
        }
        .__logo {
            position: relative;
            bottom: 7px;

            @media(max-width: @screen-sm-max) {
                width: 100%;
                height: auto;
            }

            &--hidden {
                display: none;
            }
        }



        .SearchButton {
            display: none;
        }

        .__input {
            margin-top: 8px;
            float: right;
            width: 100%;
            max-width: 320px;

            input {
                font-size: 0.9rem;
            }
        }
    }
}
