.social-list {
    list-style-type: none;
    margin: 5px auto;
    width: 296px;
    padding: 0;

    li {
        display: inline-block;
        margin: 14px;

        a {
            display: block;
            width: 44px;
            height: 44px;
            font-size: 2.3rem;
            /*border: 2px solid $msu-green;*/
            line-height: 44px;
            text-align: center;
            border-radius: 44px;
            color: #6d6d6d;
            background-color: white;
            transition: all 0.25s linear;
            &:hover {
                background-color: #8de9d4;
            }

            i {
                position: relative;
                top: 1px;
            }
        }
    }
}
