// Custom css - Make sure to use @import "custom" on the app.scss
.cust-footer{
    background-color: #f1f1f1;
    margin-top: 50px;
}

.cust-bottom-social{
    background-color: #6d6d6d;
    min-height: 55px;
}

.cust-footer-info-list{
    padding-top: 0; 
    margin-top: 0;
}

.cust-container{
    
    @media (min-width: 1200px){
        width: 1278px !important;
    }
    @media (min-width: 1920px){
        width: 1918px !important;
    }
}

.messages {
    position: relative;
    z-index: 1;
    //margin-bottom: -20px;
    top: -52px;
    left: 170px;
    width: 62%;
    margin-bottom: -70px;
    &.mobileMessages{
        top: 0px;
        left: 0px;
        width: 100%;
        margin-bottom: -20px;
    }
    &.StandardMessages{
        top: 0px;
        left: 0px;
        width: 100%;
        margin-bottom: -20px;
    }
}

.cust-hide {
    max-height: 0px;
    overflow: hidden;
}

.cust-link {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        // color: $msu-green;
    }
}
.cust-btn {
    text-decoration: none;
    color: white !important;
}
.cust-select{
   height: calc(3.25rem + 2px) !important;
   min-width: 73px;
   &.cust-select-weather{
        max-width: 365px;
   }
   &.cust-select-stations{
        max-width: 160px;
   }
}
.cust-label{
    font-size: 1.8rem;
    padding-top: 5px;
}
.dashboard-piece{
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}
.headers{
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.WeatherMapAlert{
    margin-bottom: -5px !important;
    z-index: 100;
}
button.accordion{
    width: 100%;
    &.small{
        width: 20%;
        min-width: 175px;
    }
    &.accordion-mobile{
        width: 100%;
    }
    background-color: whitesmoke;
    border: none;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s linear;
    &:hover{
        background-color: #ddd;
    }
    &::after{
        content: '\f055';
        font-family: "fontawesome";
        font-size: 14px;
        float: right;
    }
    &.is-open{
        background-color: #ddd;
        &::after{
            content: "\f056";
        }
    }
}
button.QLaccordion{
    width: 100%;
    &.small{
        width: 100%;
        min-width: 200px;
    }
    background-color: whitesmoke;
    border: none;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s linear;
    &:hover{
        background-color: #ddd;
    }
    &::after{
        content: '\f055';
        font-family: "fontawesome";
        font-size: 14px;
        float: right;
    }
    &.is-open{
        background-color: #ddd;
        &::after{
            content: "\f056";
        }
    }
}
.quicklinks-text{
    margin-bottom: -15px;
    a{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}
.admin-toolbar{
    padding: 0 20px;
    background-color: whitesmoke;

    max-height: 0;
    overflow: hidden;
    transition:max-height 0.2s ease-in-out;
}
.quickLinksContainer{
    // margin-top: -236px;
    max-width: 255px;
    position: relative;
    z-index: 100;
    // left: 854px;
    // top: 240px;
    // top: -129px;
    .quickLinks{
        // max-width: 250px;

        // For in top banner
        // width: 250px;
        // min-width: 200px;
        // position: relative;
        // margin-top: -55px;
        // margin-left: -1px;
        // z-index: 100;

        // For in rightnav
        // margin-bottom: -20px;
        // margin-left: -20px;
        // max-width: 254px;

        // NEW for the rightnav
        // max-width: 254px;
        // position: relative;
        // z-index: 100;
        // left: 855px;
        // top: 240px;

        .QL-content{
            width: 100%;
            min-width: 200px;
            padding: 0 20px;
            background-color: whitesmoke;
            border-style:solid;
            border-color:#18453b;    
            border-width: 0px;

            max-height: 0;
            overflow: hidden;
            // transition:max-height 0.2s ease-in-out;
        }
    }
}
.toolbar-content{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 480px;
}

.admin-toolbar-navbar{
    min-height: 40px;
    background-color: #18453b;
    padding-top: 9px;
    margin-left: -20px;
    margin-right: -20px;

    .__list {
        list-style-type: none;
        margin-left: 0;
        margin-bottom: 0;
        display: flex;
        
        .__item {
            float: left;
            font-size: 0.9rem;
            border-right: 1px solid rgba(153, 162, 162, 1);
            
            &:last-child {
                border-right: none;
            }
            
            &.dropdown {
                &:hover {
                    .subLevel {
                        &:hover {
                            display: block;
                        }
                        margin: -4px 0 0 !important;
                        display: block;
                        min-width: 150px;
                        background-color: rgba(24, 69, 59, 1);
                        font-size: 1.3rem;
                        max-height: 250px;
                        overflow-x: hidden;
                        overflow-y: auto;
                    }
                }
            }
            
            &--active {
                font-weight: bold;
            }
            
            a {
                text-decoration: none;
                color: white;
                padding-left: 15px;
                padding-right: 15px;
                &:hover {
                    text-decoration: underline;
                    // color: $msu-green;
                }
            }
        }
    }
}
.MRN{
    margin-top: 30px !important;
    margin-bottom: -45px !important;
    .MobileRightNav{
        .MobileAccordion{
            padding: 0 20px;
            background-color: whitesmoke;

            max-height: 0;
            overflow: hidden;
            transition:max-height 0.2s ease-in-out;
            .__list {
                display: block;
                padding: 0;
                color: whitesmoke;
                overflow-y: auto;
                max-height: 480px;
                .__item {
                    float: none;
                    border: none;
                    margin-top: 5px;
                    font-size: 0.9rem;
        
                    a {
                        padding-left: 0;
                        padding-right: 0;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}


.MobileLegend{
    margin-top: 25px;
    margin-bottom: -35px;
}

.MobileWeatherData{
    margin-bottom: -125px;
}

.stationList{
    padding-bottom: 15px;
    .stationItem{
        a{
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


.edit-cons-comm-crop{
    height: 150px;
    overflow: hidden;
}

.connection-checkboxes{
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 4px;
}

.connections-tab{
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}

.goToEdits{
    max-height: 266px;
    overflow-x: hidden;
    overflow-y: auto;
    p {
        font-size: 2rem !important;
        a{
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.TableHolder{
    // max-width: 1110px;
    // max-height: 600px;
    // overflow-x: auto;
    // overflow-y: auto;
    // overflow-x: hidden;
    // overflow-y: hidden;
    h2{
        font-size: 3rem;
    }
    div{
        div{
            font-size: 1.6rem; 
            
        }
    }
    .table{
        border: 1px solid #d4d4d4 !important;
        font-size: 1.6rem;
        // width: 200% !important;
        // max-width: 200% !important;
        div{
            div{
                p{
                    font-size: 1.6rem; 
                }
            }
        }

        .odd{
            background-color: #e7ffed;
            &:hover {
                background-color: #fff087;
            }
        }
        .even{
            background-color: white;
            &:hover {
                background-color: #fff087;
            }
        }
        .clicked{
            background-color: yellow;
            &:hover {
                background-color: #d2c202;
            }
        }
    }
}

.breadcrumbs{
    ol{
        background-color: #ffffff;
        // margin-bottom: -40px;
        font-size: 1.2rem;
        li{
            a{ 
                text-decoration: none;
                &:hover{    
                    color: #18453b !important;
                    text-decoration: underline;
                }
            }
        }
    }
}

h2{
    &.rem3{
        font-size: 3rem;
    }
}

.ShowImage{
    width: 825px;
    height: 300px;
    overflow: hidden;
    img{
        width: 100% ;
    }
}
.IndexImage{    
    width: 365px;
    height: 150px;
    overflow: hidden;
    img{
        width: 100%;
    }
}
.SmallIndexImage{   
    width: 275px;
    height: 130px;
    overflow: hidden;
    img{
        width: 100%;
    }
}
.MobileIndexImage{   
    height: 140px;
    overflow: hidden;
    img{
        width: 100%;
    }
}
.StationImage{    
    width: 335px;
    height: 225px;
    overflow: hidden;
    img{
        width: 100% ;
    }
}
.EditImage{
    width: 520px;
    height: 280px;
    overflow: hidden;
    img{
        width: 100% ;
    }
}
.EditStationImage{
    width: 400px;
    height: 300px;
    overflow: hidden;
    img{
        width: 100% ;
    }
}
.viewImagesIndex{
    width: 375px;
    height: 220px;
    overflow: hidden;
    img{
        width: 100% ;
    }
}
.deleteImage{
    position: relative;
    margin-bottom: -35px;
    padding-left: 336px;
}
.header-image{
    width: 1920px;
    height: 175px;
    overflow: hidden;
    img{
        width: 100% ;
    }
}

.headerImage{
    height: 175px;
    overflow: hidden;
}

.weatherMapWatchBtn{
    margin-top: 25px;
}

.weatherLegend{
    height: 275px;
}

.webAddress{
    overflow: auto;
}

.truncate {
    width: 100%;
    height: 20px;
    overflow: hidden;
    p{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.esri-view{
    height: 500px;
    width: 100%;
}
.colAdjustment{
    .col-md{
        margin-left: -15px;
    }
    .col-8{
        margin-left: -15px;
    }
}

.flex-items-evenly{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.align-baseline{
        align-items: baseline;
    }
}

.dashboard-card{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 2rem;

    &.no-margin-bottom{
        margin-bottom: 0px !important;
    }

    &.card-in-card{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .no-margin-bottom{
        margin-bottom: 0px !important;
    }

    .dashboard-card-content{
        padding: 0.01em 16px;
        //Standard elements
        h2{
            color: #fff !important;
            margin-top: 1rem;
        }
        h3{
            color: #fff !important;
            margin-top: 1rem;
        }
        h4{
            font-size: 1rem;
        }
        .black-text{
            color: black !important;
        }
        i{
            font-size: 2em;
        }
        &.flex-card{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &.clickable{
            cursor: pointer;
            //not selectable text
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none;   /* Safari */
            -khtml-user-select: none;    /* Konqueror HTML */
            -moz-user-select: none;      /* Firefox */
            -ms-user-select: none;       /* Internet Explorer/Edge */
            user-select: none;           /* Non-prefixed version, currently supported by Chrome and Opera */
        }

        &.border-blue{
            border-style: solid;
            border-color: #008183;
        }

        //Colors
        &.light-blue-card{    
            background-color: #00a0a2;
        }
        &.blue-card{    
            // background-color: #2196F3;
            background-color: #008183;
        }
        &.msugreen-card{    
            // background-color: #0ca53b;
            background-color: #18453b;
        }
        &.green-card{    
            // background-color: #0ca53b;
            background-color: #0DB14B;
        }
        &.light-green-card{    
            background-color: #94AE4A;
        }
        &.y-green-card{    
            background-color: #D1DE3F;
        }
        &.red-card{    
            background-color: #e42e35;
        }
        &.magenta-card{    
            background-color: #6E005f;
        }
        &.grey-card{    
            background-color: #535054;
        }
        &.off-white-card{    
            background-color: #e2e2e2;
        }
        &.whitesmoke-card{    
            background-color: whitesmoke;
        }
        &.white-card{    
            background-color: white;
        }

        .padding-for-group{
            padding-top: 15px;
            padding-bottom: 20px;
        }

        //Sizes
        &.xl-text-card{ 
            max-height: 35rem;  
            overflow-y: auto;
        }
        &.lg-text-card{ 
            max-height: 31rem;  
            overflow-y: auto;
        }
        &.md-text-card{    
            max-height: 20rem;
            overflow-y: auto;
        }
        &.sm-text-card{    
            max-height: 10rem; 
            overflow-y: auto;
        }

        //Closed card settings
        &.closed-card{
            padding-bottom: 0px !important;
            padding-top: 0px !important;
            max-height: 0px; 
            overflow: hidden;
        }

        .dark-text{
            color: black !important;
        }

        .white-letters{
            color: #fff !important;
        }
        .spacing-fix{
            margin-top: 0.5rem;
            margin-bottom: 0.4rem;
        }

        .smaller-i{
            font-size: 1em;
        }
        
        .title-piece{
            display: flex;
            align-items: center;
            justify-content: space-between;
            i{
                font-size: 1.3em;
                cursor: pointer;
            }
            &.byitself{
                margin-bottom: 0.5rem;
                margin-top: 0.5rem;
            }
        }

        .row-piece{
            p{
                margin-bottom: -1.5rem;
            }
        }

        .link-piece{
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .graph-img{
            // height: 17.8rem;
            width: 100%
        }
    } 
}