@font-face {
	font-family: 'Perpetua';
	font-style: normal;
	font-weight: 100;
	src: url('/StudentPayrollRevived/Content/public/fonts/PER_____.woff'), url('/StudentPayrollRevived/Content/public/fonts/PER_____.ttf');
}
@font-face {
    font-family: 'Perpetua Bold';
    font-style: normal;
    font-weight: bold;
    src: url('/StudentPayrollRevived/Content/public/fonts/PERB____.woff'), url('/StudentPayrollRevived/Content/public/fonts/PERB____.ttf');
}
@font-face {
	font-family: 'Perpetua Italic';
	font-style: italic;
	font-weight: 100;
	src: url('/StudentPayrollRevived/Content/public/fonts/PERI____.woff'), url('/StudentPayrollRevived/Content/public/fonts/PERI____.ttf');
}

@font-face {
	font-family: 'Perpetua Bold Italic';
	font-style: italic;
	font-weight: 100;
	src: url('/StudentPayrollRevived/Content/public/fonts/PERBI___.woff'), url('/StudentPayrollRevived/Content/public/fonts/PERBI___.ttf');
}