@import 'includes/variables/_screens';
@import 'includes/variables/_colors';
@import 'includes/variables/_fonts';
@import '_fonts';

:root {
    --reach-dialog: 1;
}

html {
    font-size: 16px;
    font-size: 100%;
    height: 100%;
    body {
        overflow-x: hidden;
        width: 100%;
        .__wrapper {
            left: 0;
            transition: all linear 0.25s;
            min-height: 22vh;
            &--standard {
                position: relative;
                top: 50px;
            }
            &--nudged {
                left: 0;
            }
            .con-rel {
                position: relative;
            }
            @media(max-width: @screen-sm-max) {
                width: 100%; // position: absolute;
                &--nudged {
                    left: -75%;
                }
            }
            .content {
                margin: 5px auto;
                p {
                    font-size: 1rem;
                }
            }
            .main-header-component-placeholder {
                background-color: lightgray;
                height: 150px;
                position: relative;
                background-size: cover;
                display: flex;
                align-items: center;
                justify-content: center;
                p {
                    font-size: 5rem;
                    color: white;
                    text-shadow: 0 0 1px #333;
                }
            }
            .panelContent {
                // background-color: lightgray !important;
                padding: 10px !important; // border: 1px solid $msu-green !important;
                border-radius: 5px;
                .__list {
                    display: block;
                    margin-top: -10px;
                    padding: 0;
                    color: whitesmoke;
                    .__item {
                        list-style-type: none;
                        float: none;
                        border: none;
                        margin-top: 5px;
                        font-size: 0.9rem;
                        a {
                            padding-left: 0;
                            padding-right: 0;
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        &--search {
                            a {
                                padding-left: 0;
                                padding-right: 0;
                            }
                        }
                    }
                }
            }
        }
        @import '_components';
        @import '_custom';
        @import 'carousel';
        padding-bottom: 25px;
    }
}

